<div class="container-fluid content body">

    <mat-sidenav-container style="height: 95vh;">
        <mat-sidenav mode="side" opened class="sidenav" disableClose="true">
            <!-- Chat list -->
            <div class="chat-item" *ngFor="let chat of chats" (click)="openChat(chat.id!)">
                <img src="https://via.placeholder.com/40" alt="Profile Image">
                <h3> {{ chat.chatName }}</h3>
                <p>{{ chat.lastMessage.content }}</p>
                {{ chat.lastMessage.createdAt | dfnsFormatDistanceToNow : {includeSeconds: true, addSuffix : true } }}
            </div>
        </mat-sidenav>
      
        <mat-sidenav-content *ngIf="this.chatId">
            <div class="chat-container">
                <div class="header">
                    <img src="https://via.placeholder.com/30" alt="User Image">
                    <div>{{ receiver?.name }}</div>
                </div>
                <div class="messages" #messagesBox>
                        <div 
                        *ngFor="let message of messages"
                        [ngClass]="message.senderSubject == myClaims.sub ? 'sent' : 'received'">
                            {{ message.content }}
                            {{ message.createdAt | dfnsFormatDistanceToNow : {includeSeconds: true, addSuffix : true } }}
                        </div>
                </div>
                <div class="chatbox">
                    <input type="text" class="chatbox-input" placeholder="Type your message..." [(ngModel)]="msgContent" (keyup.enter)="sendMessage()">
                    <button [disabled]="msgContent.length === 0" (click)="sendMessage()" style="border: transparent;">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<!--
<mat-list>
    @for (message of messages; track message) {
      <mat-list-item>
        <img matListItemAvatar src="..." alt="...">
        <h3 matListItemTitle>{{message.from}}</h3>
        <p matListItemLine>
          <span>{{message.subject}}</span>
          <span class="demo-2"> -- {{message.content}}</span>
        </p>
      </mat-list-item>
    }
  </mat-list>
  -->