  .sidenav {
    min-height: 80vh;
    min-width: 30vw;
    background-color: #128C7E; /* Deep Purple color */
    color: #fff;
  }

  .chat-item {
    padding: 10px;
    border-bottom: 1px solid #512da8; /* Darken the color for border */
    display: flex;
    align-items: center;
  }

  .chat-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .content {
    padding: 50px;
  }

  .chat-container {
    min-width: 600px;
    max-width: 1200px;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }

  .header {
    padding: 10px;
    background-color: #128C7E; /* WhatsApp green color */
    color: #fff;
    display: flex;
    align-items: center;
  }

  .header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  /* Style for sender's messages */
.sent {
  display: flex;
  background-color: #cfe2f3; /* Light blue for sender's messages */
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: fit-content;
  padding: 10px;
  align-self: end; /* Align messages to the right */
}

/* Style for receiver's messages */
.received {
  display: flex;
  background-color: #dcf8c6; /* Light green for sender's messages */
  border-radius: 8px;
  margin-bottom: 10px;
  max-width: fit-content;
  padding: 10px;
}

.chatbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chatbox-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.chatbox-btn {
  margin-left: 10px;
  background-color: #128C7E;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}